APP_PORT=8080
APP_NAME=siakad-mini

DB_HOST=localhost
DB_PORT=5432
DB_USER=siakad
DB_PASSWORD=your_password_here
DB_NAME=siakad_mini_fiber
DB_SSLMODE=disable
DB_MAX_CONNS=10

JWT_SECRET=change-me-to-random-string-min-32-chars
JWT_ISSUER=siakad-mini
JWT_ACCESS_TTL_MINUTES=60
JWT_REFRESH_TTL_DAYS=7

ALLOWED_ORIGINS=http://localhost:5173
LOG_LEVEL=info